<script type="text/javascript" src="{{ site.js | relative_url }}/src/scrollspy.js?v={{ site.version }}"></script>
<script type="text/javascript" src="{{ site.js | relative_url }}/src/post-details.js?v={{ site.version }}"></script>
<script>
	document.addEventListener("copy", function (evt) {
		let text = document.getSelection().toString();
		if (text.length >= 100) {
			text = text + "\n\n" + "=========================================\n" + "你複製整段要幹嘛==?";
		}
        console.log(text)
		let clipdata = evt.clipboardData || window.clipboardData;
		clipdata.setData("text", text);
		evt.preventDefault();
	});
</script>
