// Default
$alert-default-border        : $grey-dim;
$alert-default-bg            : $gainsboro;
$alert-default-text          : $alert-default-border;
$alert-default-hover         : $black-deep;
$alert-default-icon          : "\f134";
